{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-md-8 pt-5">
            <!-- ###### Main Content ###### -->
            <h2 class="display-5 fw-bold pt-4">Camera Feed</h2>
            <img class="img-fluid" id="cameraImage" alt="Camera Feed">
            <!-- Flip Camera Settings -->
            <ul class="list-group pt-5 pb-5">
                <li class="list-group-item active" aria-current="true">Settings Control</li>
                <li class="list-group-item">
                    <input class="form-check-input" type="checkbox" role="switch" id="hflip">
                    <label class="form-check-label" for="AeEnable">Horazontal Flip</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="vflip">
                    <label class="form-check-label" for="AeEnable">Vertical Flip </label>
                    <button type="button" class="btn btn-primary" onclick="adjustflip()">Set</button>
                </li>
<li class="list-group-item">
		    <button id="timelapseButton">Start Timelapse</button>

                    <button type="button" class="btn btn-primary" onclick="resetsettings()">Reset</button>
                </li>
            </ul>
            <button onclick="refreshCameraFeed()">Refresh Camera Feed</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="hflipDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    hflip
                </button>
                <ul class="dropdown-menu" aria-labelledby="hflip" id="hflip">
                    <li><button class="dropdown-item" type="button" onclick="adjusthflip('0')">Off</button></li>
                    <li><button class="dropdown-item" type="button" onclick="adjusthflip('1')">flip</button></li>
                </ul>
            </div>
        </div>
        <div class="col-4 pt-5 overflow-y-scroll" style="height: 100vh;
        height: -webkit-fill-available;
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: hidden;">
            <!-- ###### Side Bar ###### -->
            <div class="accordion overflow-y-scroll pt-4 pb-4" id="accordionExample">
            <!-- ###### Auto Focus Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Auto Focus Settings
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- AfMode -->
                            <p>Auto Focus Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode0" onclick="adjustAfMode('0')">
                                <label class="form-check-label" for="AfMode0">Manual</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode1" onclick="adjustAfMode('1')">
                                <label class="form-check-label" for="AfMode1">Auto</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode2" onclick="adjustAfMode('2')">
                                <label class="form-check-label" for="AfMode2">Continuous</label>
                            </div>
                            <hr>
                            <!-- LensPosition -->
                            <div class="form-group">
                                <label for="LensPosition" class="form-label" id="currentLensPosition">Lens Position:</label>
                                <input type="range" class="form-range" min="0.0" max="10.0" step="0.1" id="LensPosition" onchange="adjustLensPosition(this.value)">
                                <div class="form-text" id="basic-addon4">In dioptres (1 / distance in metres)</div>
                            </div>
                            <hr>
                            <!-- AfRange -->
                            <p>Auto Focus Range:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange0" onclick="adjustAfRange('0')">
                                <label class="form-check-label" for="AfRange0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange1" onclick="adjustAfRange('1')">
                                <label class="form-check-label" for="AfRange1">Macro</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange2" onclick="adjustAfRange('2')">
                                <label class="form-check-label" for="AfRange2">Full</label>
                            </div>
                            <hr>
                            <!-- AfSpeed -->
                            <p>Auto Focus Speed:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfSpeed" id="AfSpeed0" onclick="adjustAfSpeed('0')">
                                <label class="form-check-label" for="AfSpeed0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfSpeed" id="AfSpeed1" onclick="adjustAfSpeed('1')">
                                <label class="form-check-label" for="AfRange1">Fast</label>
                            </div>
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>

            <!-- ###### Gain and Exposure Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Gain and Exposure Settings
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- AeEnable -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="AeEnable" onchange="adjustAeEnable()">
                                <label class="form-check-label" for="AeEnable">Enable Changes to AEC/AGC algorithm</label>
                            </div>
                            <hr>
                            <!-- AeConstraintMode -->
                            <p>AE Constraint Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode0" onclick="adjustAeConstraintMode('0')">
                                <label class="form-check-label" for="AeConstraintMode0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode1" onclick="adjustAeConstraintMode('1')">
                                <label class="form-check-label" for="AeConstraintMode1">Highlight</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode2" onclick="adjustAeConstraintMode('2')" disabled>
                                <label class="form-check-label" for="AeConstraintMode2">Shadows</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode3" onclick="adjustAeConstraintMode('3')" disabled>
                                <label class="form-check-label" for="AeConstraintMode3">Custom</label>
                            </div>
                            <hr>
                            <!-- AeExposureMode -->
                            <p>AE Exposure Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode0" onclick="adjustAeExposureMode('0')">
                                <label class="form-check-label" for="AeExposureMode0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode1" onclick="adjustAeExposureMode('1')">
                                <label class="form-check-label" for="AeExposureMode1">Short</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode2" onclick="adjustAeExposureMode('2')">
                                <label class="form-check-label" for="AeExposureMode2">Long</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode3" onclick="adjustAeExposureMode('3')" disabled>
                                <label class="form-check-label" for="AeExposureMode3">Custom</label>
                            </div>
                            <hr>
                            <!-- AeFlickerMode -->
                            <p>AE Flicker Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeFlickerMode" id="AeFlickerMode0" onclick="adjustAeFlickerMode('0')">
                                <label class="form-check-label" for="AeFlickerMode0">Off</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeFlickerMode" id="AeFlickerMode1" onclick="adjustAeFlickerMode('1')">
                                <label class="form-check-label" for="AeFlickerMode1">Manual</label>
                            </div>
                            <hr>
                            <!-- AeFlickerPeriod -->
                            <label for="AeFlickerPeriod" class="form-label">AE Flicker Period:</label>
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" id="AeFlickerPeriod">
                                    <label for="floatingInputValue">Value in microseconds</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="button-ExposureTime" onclick="adjustAeFlickerPeriod()">Set</button>
                            </div>
                            <hr>
                            <!-- AeMeteringMode -->
                            <p>AE Metering Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode0" onclick="adjustAeMeteringMode('0')">
                                <label class="form-check-label" for="AeMeteringMode0">Centre Weighted</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode1" onclick="adjustAeMeteringMode('1')">
                                <label class="form-check-label" for="AeMeteringMode1">Short</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode2" onclick="adjustAeMeteringMode('2')">
                                <label class="form-check-label" for="AeMeteringMode2">Matrix</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode3" onclick="adjustAeMeteringMode('3')" disabled>
                                <label class="form-check-label" for="AeMeteringMode3">Custom</label>
                            </div>
                            <hr>
                            <!-- ExposureTime -->
                            <label for="ExposureTime" class="form-label">Exposure Time:</label>
                            <div class="input-group mb-3">
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" id="ExposureTime">
                                    <label for="floatingInputValue">Value in microseconds</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="button-ExposureTime" onclick="adjustExposureTime()">Set</button>
                            </div>
                            <hr>
                            <!-- ExposureValue -->
                            <div class="form-group">
                                <label for="ExposureValue" class="form-label" id="ExposureValue">Exposure Compensation:</label>
                                <input type="range" class="form-range" min="-8.0" max="8.0" step="0.1" id="ExposureValue" onchange="adjustExposureValue(this.value)">
                            </div>
                            <hr>
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>

            <!-- ###### Auto White Balance Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Auto White Balance Settings
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- AwbEnable -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="AwbEnable" onchange="adjustAwbEnable()">
                                <label class="form-check-label" for="AwbEnable">Enable AWB algorithm</label>
                            </div>
                            <hr>
                            <!-- AwbMode -->
                            <p>(AWB) White Balance Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode0" onclick="adjustAwbMode('0')">
                                <label class="form-check-label" for="AwbMode0">Auto</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode1" onclick="adjustAwbMode('1')">
                                <label class="form-check-label" for="AwbMode1">Tungsten</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode2" onclick="adjustAwbMode('2')">
                                <label class="form-check-label" for="AwbMode2">Fluorescent</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode3" onclick="adjustAwbMode('3')">
                                <label class="form-check-label" for="AwbMode3">Indoor</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode4" onclick="adjustAwbMode('4')">
                                <label class="form-check-label" for="AwbMode4">Daylight</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode5" onclick="adjustAwbMode('5')">
                                <label class="form-check-label" for="AwbMode4">Cloudy</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode6" onclick="adjustAwbMode('6')" disabled>
                                <label class="form-check-label" for="AwbMode4">Custom</label>
                            </div>
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>

            <!-- ###### Brightness & Contrast Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Brightness & Contrast Settings
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Brightness -->
                            <div class="form-group">
                                <label for="brightness" class="form-label" id="currentBrightness">Brightness:</label>
                                <input type="range" class="form-range" min="-1.0" max="1.0" step="0.1" id="Brightness" onchange="adjustBrightness(this.value)">
                            </div>
                            <hr>
                            <!-- Contrast -->
                            <div class="form-group">
                                <label for="contrast" class="form-label" id="currentContrast">Contrast:</label>
                                <input type="range" class="form-range" min="0.0" max="32.0" step="1.0" id="Contrast" onchange="adjustContrast(this.value)">
                            </div>
                            <hr>
                            <!-- Saturation -->
                            <div class="form-group">
                                <label for="saturation" class="form-label" id="currentSaturation">Saturation:</label>
                                <input type="range" class="form-range" min="0.0" max="32.0" step="1.0" id="Saturation" onchange="adjustSaturation(this.value)">
                            </div>
                            <hr>
                            <!-- Sharpness -->
                            <div class="form-group">
                                <label for="sharpness" class="form-label" id="currentSharpness">Sharpness:</label>
                                <input type="range" class="form-range" min="0.0" max="16.0" step="0.1" id="Sharpness" onchange="adjustSharpness(this.value)">
                            </div>
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
 
  
  
  


<script>
document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM content loaded');

    // Parse the JSON string into a JavaScript object
    var liveSettings = {{ live_settings | tojson }};
    console.log(liveSettings);
    // Call the updateUI

    updateUI(liveSettings);
});

document.addEventListener('DOMContentLoaded', function () {
        // Get the image element
        const cameraImage = document.getElementById('cameraImage');

        // Set the source attribute to start loading the image
        cameraImage.src = "{{ url_for('video_feed') }}";
    });

document.getElementById('timelapseButton').addEventListener('click', function() {
        // Send a POST request to start/stop the timelapse
        fetch('/start_stop_timelapse', { method: 'POST' })
            .then(response => response.json())
            .then(data => console.log(data));
    });

const settings = {};

function updateUI(settings) {
    for (const key in settings) {
            if (key === 'LensPosition') {
                document.getElementById('LensPosition').value = settings[key];
                const LensPosition = document.getElementById('currentLensPosition');
                if (LensPosition) {
                    LensPosition.innerText = `Lens Position: ${settings[key]}`;
                }
            } else if (key === 'ExposureValue') {
                document.getElementById('ExposureValue').value = settings[key];
                const ExposureValue = document.getElementById('ExposureValue');
                if (ExposureValue) {
                    ExposureValue.innerText = `Exposure Compensation: ${settings[key]}`;
                }
            } else if (key === 'ExposureTime') {
                // Update button for ExposureTime
                const exposureTimeInput = document.getElementById('ExposureTime');
                if (exposureTimeInput) {
                    exposureTimeInput.value = settings[key];
                }
            } else if (key === 'AwbEnable') {
                // Update the switch state
                const awbEnableSwitch = document.getElementById('AwbEnable');
                if (awbEnableSwitch) {
                    awbEnableSwitch.checked = settings[key];
                }
            } else if (key === 'AeFlickerPeriod') {
                // Update inputbox for AeFlickerPeriod
                const aeFlickerPeriodInput = document.getElementById('AeFlickerPeriod');
                if (aeFlickerPeriodInput) {
                    aeFlickerPeriodInput.value = settings[key];
                    console.log("aeFlickerPeriodInput");

                }
            } else  if (key === 'AeEnable') {
                // Update the switch state
                const aeEnableSwitch = document.getElementById('AeEnable');
                if (aeEnableSwitch) {
                    aeEnableSwitch.checked = settings[key];
                }
            } else if (key === 'Brightness') {
                document.getElementById('Brightness').value = settings[key];
                const brightnessSpan = document.getElementById('currentBrightness');
                if (brightnessSpan) {
                    brightnessSpan.innerText = `Brightness: ${settings[key]}`;
                }
            } else if (key === 'Contrast') {
                document.getElementById('Contrast').value = settings[key];
                const contrastSpan = document.getElementById('currentContrast');
                if (contrastSpan) {
                    contrastSpan.innerText = `Contrast: ${settings[key]}`;
                }
            } else if (key === 'Saturation') {
                document.getElementById('Saturation').value = settings[key];
                const saturationSpan = document.getElementById('currentSaturation');
                if (saturationSpan) {
                    saturationSpan.innerText = `Saturation: ${settings[key]}`;
                }
            } else if (key === 'Sharpness') {
                document.getElementById('Sharpness').value = settings[key];
                const sharpnessSpan = document.getElementById('currentSharpness');
                if (sharpnessSpan) {
                    sharpnessSpan.innerText = `Sharpness: ${settings[key]}`;
                }
            } else if (key === 'AfMode') {
                // Update checkboxes for AfMode
                const checkboxes = document.getElementsByName('AfMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AfMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AfRange') {
                // Update checkboxes for AfRange
                const checkboxes = document.getElementsByName('AfRange');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AfRange', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AfSpeed') {
                // Update checkboxes for AfSpeed
                const checkboxes = document.getElementsByName('AfSpeed');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AfSpeed', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AeConstraintMode') {
                // Update checkboxes for AeConstraintMode
                const checkboxes = document.getElementsByName('AeConstraintMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AeConstraintMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AeExposureMode') {
                // Update checkboxes for AeExposureMode
                const checkboxes = document.getElementsByName('AeExposureMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AeExposureMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AeFlickerMode') {
                // Update checkboxes for AeFlickerMode
                const checkboxes = document.getElementsByName('AeFlickerMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AeFlickerMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AeMeteringMode') {
                // Update checkboxes for AeMeteringMode
                const checkboxes = document.getElementsByName('AeMeteringMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AeMeteringMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (key === 'AwbMode') {
                // Update checkboxes for AwbMode
                const checkboxes = document.getElementsByName('AwbMode');
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace('AwbMode', ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else {
                console.log(`Skipping unknown setting: ${key}`);
            }
    }
}

////////////////////////////////////
// Live Settings 

// Function to update server settings and UI
function updateLiveSettings(data) {
    return fetch('/update_live_settings', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}

function adjustAfMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AfMode: modeInt });
    // Update server settings
    updateLiveSettings({ AfMode: modeInt });
}
function adjustAeConstraintMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AeConstraintMode: modeInt });
    // Update server settings
    updateLiveSettings({ AeConstraintMode: modeInt });
}
function adjustBrightness(value) {
    console.log('Brightness changed:', value);
    // Update UI with the new value
    updateUI({ Brightness: value });
    // Update server settings
    updateLiveSettings({ Brightness: parseFloat(value) });
}
function adjustContrast(value) {
    console.log('Contrast changed:', value);
    // Update UI with the new value
    updateUI({ Contrast: value });
    // Update server settings
    updateLiveSettings({ Contrast: parseFloat(value) });
}
function adjustSaturation(value) {
    console.log('Saturation changed:', value);
    // Update UI with the new value
    updateUI({ Saturation: value });
    // Update server settings
    updateLiveSettings({ Saturation: parseFloat(value) });
}
function adjustSharpness(value) {
    console.log('Sharpness changed:', value);
    // Update UI with the new value
    updateUI({ Sharpness: value });
    // Update server settings
    updateLiveSettings({ Sharpness: parseFloat(value) });
}
function adjustAeEnable() {
    // Get the current state of the switch
    const aeEnableSwitch = document.getElementById('AeEnable');
    const newValue = aeEnableSwitch.checked;
    // Send the data to the server
    updateLiveSettings({ 'AeEnable': newValue });
}
function adjustAwbEnable() {
    // Get the current state of the switch
    const awbEnableSwitch = document.getElementById('AwbEnable');
    const newValue = awbEnableSwitch.checked;
    // Send the data to the server
    updateLiveSettings({ 'AwbEnable': newValue });
}
function adjustAeExposureMode() {
    // Get the current state of the switch
    const a = document.getElementById('AeEnable');
    const newValue = aeEnableSwitch.checked;
    // Send the data to the server
    updateLiveSettings({ 'AeEnable': newValue });
}
function adjustAeExposureMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AeExposureMode: modeInt });
    // Update server settings
    updateLiveSettings({ AeExposureMode: modeInt });
}
function adjustAeFlickerMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AeFlickerMode: modeInt });
    // Update server settings
    updateLiveSettings({ AeFlickerMode: modeInt });
}
function adjustAeFlickerPeriod() {
    // Handle the input change here
    const modeInt = document.getElementById('AeFlickerPeriod').value;
    updateUI({ AeFlickerPeriod: modeInt });
    // Update server settings
    updateLiveSettings({ AeFlickerPeriod: modeInt });
}
function adjustAeMeteringMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AeMeteringMode: modeInt });
    // Update server settings
    updateLiveSettings({ AeMeteringMode: modeInt });
}
function adjustAfRange(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AfRange: modeInt });
    // Update server settings
    updateLiveSettings({ AfRange: modeInt });
}
function adjustAfSpeed(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AfSpeed: modeInt });
    // Update server settings
    updateLiveSettings({ AfSpeed: modeInt });
}
function adjustAwbMode(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ AwbMode: modeInt });
    // Update server settings
    updateLiveSettings({ AwbMode: modeInt });
}
function adjustExposureTime() {
    // Handle the input change here
    const modeInt = document.getElementById('ExposureTime').value;
    updateUI({ ExposureTime: modeInt });
    // Update server settings
    updateLiveSettings({ ExposureTime: modeInt });
}
function adjustExposureValue(value) {
    console.log('ExposureValue changed:', value);
    // Update UI with the new value
    updateUI({ ExposureValue: value });
    // Update server settings
    updateLiveSettings({ ExposureValue: parseFloat(value) });
}
function adjustLensPosition(value) {
    console.log('LensPosition changed:', value);
    // Update UI with the new value
    updateUI({ LensPosition: value });
    // Update server settings
    updateLiveSettings({ LensPosition: parseFloat(value) });
}

function resetsettings() {
    // Handle the input change here
    const modeInt = document.getElementById('ExposureTime').value;
    updateUI(liveSettings)
    console.log("Balls");
}

// Function to update server settings and UI
function resetsettings(data) {
    return fetch('/reset_default_live_settings', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Update UI with the new settings
        updateUI(data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}


////////////////////////////////////
// Feed Restarting Settings 

// Function to update server settings and UI
function updateRestartSettings(data) {
    return fetch('/update_restart_settings', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Update UI with the new settings
        updateUI(data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}

function refreshCameraFeed() {
        // Display the loading overlay
        document.getElementById('loadingOverlay').style.display = 'flex';
        // Get the image element by ID
        var imageElement = document.getElementById('cameraImage');
        // Save the current source
        var currentSrc = imageElement.src;
        // Change the source to trigger a reload
        imageElement.src = '';
        // Restore the original source after a short delay (e.g., 100 milliseconds)
        setTimeout(function () {
            imageElement.src = currentSrc;
            // Hide the loading overlay
            document.getElementById('loadingOverlay').style.display = 'none';
        }, 100);
}

function adjusthflip(mode) {
    // Convert mode to an integer
    const modeInt = parseInt(mode);
    // Update UI with the new value
    updateUI({ hflip: modeInt });
    // Update server settings and wait for it to complete
    updateRestartSettings({ hflip: modeInt })
        .then(() => {
            // Refresh the camera feed after updating server settings
            refreshCameraFeed();
        })
        .catch(error => {
            console.error('Error updating server settings:', error);
            // Handle the error if needed
        });
}
</script>

{% endblock %}

